<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid19">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCR4RLf9LSKUzqTflSRh0QBJCTzx1iX0BI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".RegistroGeolocalizacionActivity"/>
        <activity android:name=".ViewPageRegisterSede" />
        <activity android:name=".AsignarSedeEmpleadoActivity" />
        <activity android:name=".ViewPageRegisterEmpleado" />
        <activity android:name=".RegistroRegistradorActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".RegistroSedesActivity" />
        <activity android:name=".RegistroEmpresasActivity" />
        <activity android:name=".SedeActivity" />
        <activity android:name=".RegistradorActivity" />
        <activity android:name=".EmpresasActivity" />
        <activity android:name=".SintomasActivity" />
        <activity android:name=".EnfermedadesActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".ViewPageRegister" />
        <activity android:name=".FichasActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>